<nb-card>
    <nb-card-header>
        Create Friend
    </nb-card-header>
    <nb-card-body>
        <div class="friend-inputs">
            <input type="text" nbInput fullWidth placeholder="Name" (keyup)="editName($event)" (keyup.enter)="add()">
            <nb-checkbox [checked]="newFriend.favorite" (checkedChange)="toggle($event)">Favorite</nb-checkbox>
        </div>
    </nb-card-body>
    <nb-card-footer>
        <div class="add-buttons">
            <button nbButton size="small" (click)="close()">
                Cancel
            </button>
            <button nbButton size="small" [disabled]="!valid" status="primary" (click)="add()">
                Create
            </button>
        </div>
    </nb-card-footer>
</nb-card>