<nb-card>

    <!-- Header -->
    <nb-card-header>
        Edit Friend
    </nb-card-header>

    <!-- Body -->
    <nb-card-body>
        <div class="friend-inputs">
            <input type="text" nbInput fullWidth placeholder="Name" [(ngModel)]="friendToEdit.name"
                (keyup)="editName($event)" (keyup.enter)="add()">
            <nb-checkbox [checked]="friendToEdit.favorite" (checkedChange)="toggle($event)">Favorite</nb-checkbox>
        </div>
    </nb-card-body>

    <!-- Footer -->
    <nb-card-footer>
        <div class="add-buttons">
            <button nbButton size="small" status="danger" (click)="remove()">
                Delete
            </button>
            <button nbButton size="small" (click)="close()">
                Cancel
            </button>
            <button nbButton size="small" [disabled]="!valid" status="primary" (click)="add()">
                Save
            </button>
        </div>
    </nb-card-footer>

</nb-card>