<nb-layout>
  <!-- Header -->
  <nb-layout-header fixed>
    <div class="header-pane">
      <!-- Search Icon -->
      <nb-icon icon="search-outline" (click)="toggleSearch()"></nb-icon>

      <!-- Project Name -->
      <div class="title">Keep in Touch</div>

      <!-- Action Pane -->
      <div class="icons">
        <nb-icon icon="plus-circle-outline" (click)="openDialog()"></nb-icon>
        <nb-icon icon="person-outline"></nb-icon>
      </div>
    </div>
  </nb-layout-header>

  <!-- Main Content -->
  <nb-layout-column>
    <layout [isSearching]="isSearching"></layout>
  </nb-layout-column>

  <!-- Footer -->
  <nb-layout-footer fixed>
    <a href="https://github.com/namitoyokota/KeepInTouch" target="_blank">
      GitHub
    </a>
  </nb-layout-footer>
</nb-layout>
