<nb-layout>

  <nb-layout-header fixed>
    <div class="header-pane">
      <!-- Project Name -->
      <div class="title">
        Keep in Touch
      </div>
  
      <!-- Action Pane -->
      <div class="icons">
        <nb-icon icon="plus-circle-outline" (click)="addNewFriend()"></nb-icon>
        <nb-icon icon="person-outline"></nb-icon>
      </div>
    </div>
  </nb-layout-header>

  <nb-layout-column>

    <nb-card *ngIf="currentlyAddingFriend">
      <nb-card-header>
        Add New Friend
      </nb-card-header>
      <nb-card-body>
        <div class="friend-inputs">
          <input type="text" nbInput fullWidth placeholder="Name" (keyup)="editName($event)" (keyup.enter)="submitFriend()">
          <nb-checkbox (checkedChange)="toggle($event)">Favorite</nb-checkbox>
        </div>
      </nb-card-body>
      <nb-card-footer>
        <div class="add-buttons">
          <button nbButton size="small" (click)="cancelAdd()">
            Cancel
          </button>
          <button nbButton size="small" [disabled]="!valid" status="primary" (click)="submitFriend()">
            Submit
          </button>
        </div>
      </nb-card-footer>
    </nb-card>
    
    <div class="main-layout">
      <!-- Close Friends -->
      <div class="close-friends">
        <nb-card>
          <nb-card-body>
            Close Friends
          </nb-card-body>
        </nb-card>
      </div>

      <!-- Other Friends-->
      <div class="bottom-pane">
        <!-- Family -->
        <div class="family-pane">
          <nb-card>
            <nb-card-body>
              Family
            </nb-card-body>
          </nb-card>
        </div>

        <!-- Other Categories -->
        <div class="other-friends">
          <!-- Category 3 -->
          <div class="category-3">
            <nb-card>
              <nb-card-body>
                Category 3
              </nb-card-body>
            </nb-card>
          </div>
          
          <!-- Category 4 -->
          <div class="category-4">
            <nb-card>
              <nb-card-body>
                Category 4
              </nb-card-body>
            </nb-card>
          </div>
        </div>
      </div>
    </div>

  </nb-layout-column>

  <nb-layout-footer fixed>
    <a href="https://github.com/namitoyokota/KeepInTouch" target="_blank">
      GitHub  
    </a>
  </nb-layout-footer>

</nb-layout>
