.header-pane {
    width: 100%;

    display: flex;
    justify-content: space-between;

    .icons {
        display: flex;
        column-gap: 10px;
    }
}

.main-layout {
    height: 100%;
    width: 100%;

    display: grid;
    grid-template-rows: min-content auto;

    .close-friends {

    }

    .bottom-pane {
        display: grid;
        grid-template-columns: min-content auto;
        column-gap: 20px;

        .family-pane {

        }

        .other-friends {
            display: grid;
            grid-template-rows: min-content auto;
        }
    }
}

.friend-inputs {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}

.add-buttons {
    display: grid;
    grid-template-columns: auto min-content;
    column-gap: 10px;
    justify-content: right;
}

.card-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 10px;
    
    .card {
        display: grid;
        grid-template-columns: auto min-content;
        background-color: #f2f2f2;
        border: 2px #cccccc solid;
        border-radius: 5px;
        padding: 5px;
    }
}