<!-- Search Bar -->
<div class="search-bar">
  <input
    *ngIf="isSearching"
    type="text"
    nbInput
    fullWidth
    placeholder="Search"
    [(ngModel)]="searchString"
    (keyup)="search()"
  />
</div>

<div class="main-layout">
  <!-- Favorite Friends -->
  <div class="favorite-friends">
    <nb-card>
      <nb-card-header> Favorites </nb-card-header>
      <nb-card-body>
        <div class="card-list">
          <card *ngFor="let friend of favoriteFriendsList" [friend]="friend">
          </card>
        </div>
      </nb-card-body>
    </nb-card>
  </div>

  <!-- All Friends -->
  <div class="all-friends">
    <!-- Catch Up -->
    <div class="catch-up-friends">
      <nb-card>
        <nb-card-header> Catch Up </nb-card-header>
        <nb-card-body>
          <div class="vertical-pane">
            <span> List of friends that need attention </span>
            <div class="card-list">
              <card *ngFor="let friend of catchUpFriendsList" [friend]="friend">
              </card>
            </div>
          </div>
        </nb-card-body>
      </nb-card>
    </div>

    <!-- Caught Up -->
    <div class="caught-up-friends">
      <nb-card>
        <nb-card-header> Caught Up </nb-card-header>
        <nb-card-body>
          <div class="vertical-pane">
            <span> List of friends that doesn't need attention </span>
            <div class="card-list">
              <card
                *ngFor="let friend of caughtUpFriendsList"
                [friend]="friend"
              >
              </card>
            </div>
          </div>
        </nb-card-body>
      </nb-card>
    </div>
  </div>
</div>
