<div class="main-layout">
  <!-- Close Friends -->
  <div class="close-friends">
    <nb-card>
      <nb-card-header> Best Friends </nb-card-header>
      <nb-card-body>
        <div class="card-list">
          <card *ngFor="let friend of friendsList" [friend]="friend"> </card>
        </div>
      </nb-card-body>
    </nb-card>
  </div>

  <!-- Other Friends -->
  <div class="other-friends">
    <!-- Catch Up -->
    <div class="catch-up-friends">
      <nb-card>
        <nb-card-header> Catch Up </nb-card-header>
        <nb-card-body> List of friends that need attention </nb-card-body>
      </nb-card>
    </div>

    <!-- Caught Up -->
    <div class="caught-up-friends">
      <nb-card>
        <nb-card-header> Caught Up </nb-card-header>
        <nb-card-body>
          List of friends that has had enough attention
        </nb-card-body>
      </nb-card>
    </div>
  </div>
</div>
