:host {
    height: 100%;
    width: 100%;

    display: grid;
    grid-template-rows: min-content auto;
}

.close-friends {

}

.bottom-pane {
    display: grid;
    grid-template-columns: min-content auto;
    column-gap: 20px;

    .family-pane {
    }

    .other-friends {
        display: grid;
        grid-template-rows: min-content auto;
    }
}

.card-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 10px;
}
