<nb-layout>
  <!-- Header -->
  <nb-layout-header fixed>
    <header
      (onSearchToggle)="isSearching = $event"
      (createNew)="openDialog()"
    ></header>
  </nb-layout-header>

  <!-- Main Content -->
  <nb-layout-column class="main-content">
    <layout [isSearching]="isSearching"></layout>

    <div class="spinner" *ngIf="isLoading">
      <img height="75px" src="assets/circles.svg" />
    </div>
  </nb-layout-column>

  <!-- Footer -->
  <nb-layout-footer fixed>
    <footer></footer>
  </nb-layout-footer>
</nb-layout>
